<% include ../partials/header %>

<div class="ui container">
    <h1>this is the item/new route</h1>
    <div class="ui segment">
        <form class="ui form" action="/<%= user._id %>/collections/<%= collection._id %>/items" method="POST">
            <div class="field">
                <label for="item[name]">Name:</label>
                <input type="text" name="item[name]" placeholder="The Mona Lisa">
            </div>
        <div class="fields">
            <div class="eight wide field">
                <label for="item[purchaseDate]">When did you buy it?</label>
                <input type="text" name="item[purchaseDate]" placeholder="about 10 months ago">
            </div>
            <div class="eight wide field">
                <label for="item[serialNumber]">Add a serial number?</label>
                <input type="text" name="item[serialNumber]" placeholder="a1b2c3d4">
            </div>
        </div>
        <div class="fields">  
            <div class="ten wide field">
                <label for="selectiedCol">Which collection does it belong to?</label>
                <select name="selectiedCol" class="ui dropdown">
                    <option value="<%= collection._id %>"><%= collection.name %></option>
                    <div class="divider"></div>
                    <optgroup>
                        <% user.collections.forEach(function(col){ %>
                            <option value="<%= col._id %>"><%= col.name %></option>
                        <% }) %>
                    </optgroup>
                </select>
            </div>
            <div class="inline fields">
                <label for="item[stars]">Priority:</label>
                <div class="field">
                    <div class="ui radio checkbox">
                        <label>5</label>
                        <input type="radio" name="item[stars]" value="5">
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <label>4</label>
                        <input type="radio" name="item[stars]" value="4">
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <label>3</label>
                        <input type="radio" name="item[stars]" value="3">
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <label>2</label>
                        <input type="radio" name="item[stars]" value="2">
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <label>1</label>
                        <input type="radio" name="item[stars]" value="1">
                    </div>
                </div>
            </div>
        </div>
            <div class="field">
                <label for="item[description]">Add a description</label>
                <textarea name="item[description]" placeholder="Pairs of socks"></textarea>
            </div>
            <input class="ui button" type="submit" value="Create Item">
        </form>
    </div>
</div>

<% include ../partials/footer %>