<% include ../partials/header %>

<div class="ui padded placeholder container segment">
    <div class="pageTitle">
        <h1>Hello <%= user.name %></h1>
        <h5>These are the things that you own</h5>
    </div>
    <div class="ui divider"></div>
    <div class="ui top attached tabular menu">
        <div id='home' class="item active">
            Home
        </div>
        <div id='collections' class="item">
            Collections
        </div>
        <div id='items' class="item">
            Items
        </div>
    </div>
    <div id="homeSegment" class="ui bottom attached active tab segment">
        <p>this will be random</p>
        <p>metrics about your stuff</p>
        <p>a chart of total number of things</p>
        <p>and a breakdown by collection</p>
    </div>
    <div id="collectionsSegment" class="ui bottom attached tab segment">
        <% if(user.collections.length > 0){ %>
            <div class="ui styled accordion">
            <% user.collections.forEach(function(collection){ %>
                <div class="title">
                    <i class="dropdown icon"></i>
                    <i class="archive icon"></i>
                    <%= collection.name %>
                </div>
                <div class="content">
                    <% if(collection.contents.length > 0){ %>
                        <div class="cardbox">
                        <% collection.contents.forEach(function(item){ %>
                            <div class="ui card">
                                <div class="content head">
                                    <h5 class="ui header"><i class="images outline icon"></i><%= item.name %></h5>
                                </div>
                                <div class="content">
                                    <p><%= item.description %></p>
                                </div>
                                
                            </div>
                        <% }) %>
                        </div>
                    <% } else { %>
                    <p class="transition hidden">
                        This will be full of items at some point!
                    </p>
                    <% } %>
                    <a href="/onus/<%= user._id %>/collections/<%= collection._id %>/items/new"><i class="plus icon"></i> Add an item to this collection</a>
                </div>
            <% }); %>
            </div>
        <% } else { %>
            <h3>There doesnt seem to be anything here...</h3>
        <% } %>
        <a href="/onus/<%= user._id %>/collections/new">Create a new collection!</a>
    </div>
    <div id="itemsSegment" class="ui bottom attached tab segment">
        <p>all items</p>
        <p>in card form</p>
    </div>
</div>

<% include ../partials/footer %>