<% include ../partials/header %>

<div class="ui padded placeholder container segment">
    <div class="pageTitle">
        <h1>Hello <%= user.name %></h1>
        <h5>These are the things that you own</h5>
    </div>
    <div class="ui divider"></div>
    <div class="ui top attached tabular menu">
        <div id='home' class="item active">
            Home
        </div>
        <div id='collections' class="item">
            Collections
        </div>
        <div id='create' class="item">
            Create
        </div>
        <div id='profile' class="item">
            Profile
        </div>
    </div>
    <!-- first div with random stats eventually -->
    <div id="homeSegment" class="ui bottom attached active tab segment">
        <p>this will be random</p>
        <p>metrics about your stuff</p>
        <p>a chart of total number of things</p>
        <p>and a breakdown by collection</p>
    </div>

    <!-- Main display of things -->
    <div id="collectionsSegment" class="ui bottom attached tab segment">
        <% if(user.collections.length > 0){ %>
            <div class="ui styled accordion">
            <% user.collections.forEach(function(collection){ %>
                <div class="title">
                    <i class="dropdown icon"></i>
                    <i class="archive icon"></i>
                    <%= collection.name %>
                </div>
                <div class="content">
                    <% if(collection.contents.length > 0){ %>
                        <div class="cardbox">
                        <% collection.contents.forEach(function(item){ %>
                            <div class="ui card">
                                <div class="content head">
                                    <h5 class="header"><i class="images outline icon"></i><%= item.name %></h5>
                                    <div class="meta">
                                            <p><%= item.purchaseDate %></p>
                                            <% if(item.stars){ %>
                                                <% for(x = item.stars; x > 0; x--){ %>
                                                    <i class="star icon"></i>
                                            <% }} %>
                                    </div>
                                </div>
                                <div class="content">
                                    <p><%= item.description %></p>
                                </div>
                                <div class="extra content">
                                    <a  href="/<%= user._id %>/collections/<%= collection._id %>/items/<%= item._id %>/edit"
                                        class="mini ui primary basic button">
                                        <i class="edit outline icon"></i>
                                        Edit
                                    </a>
                                    <form class="inlineForm" action="/<%= user._id %>/collections/<%= collection._id %>/items/<%= item._id %>/?_method=DELETE" method="POST">
                                        <button class="mini ui orange basic button"><i class="trash alternate outline icon"></i>Delete</button>
                                    </form>
                                </div>
                                
                            </div>
                        <% }) %>
                        </div>
                    <% } else { %>
                    <p class="transition hidden">
                        This will be full of items at some point!
                    </p>
                    <% } %>
                    <a href="/<%= user._id %>/collections/<%= collection._id %>/items/new"><i class="plus icon"></i>Add an item to this collection</a>
                </div>
            <% }); %>
            </div>
        <% } else { %>
            <h3>There doesnt seem to be anything here...</h3>
        <% } %>
        <div class="ui divider"></div>
        <div>
            <a href="/<%= user._id %>/collections/new"><i class="plus icon"></i>Create a new collection!</a>
        </div>
    </div>

    <!-- item and collection create form -->
    <div id="createSegment" class="ui bottom attached tab segment">
            <div class="ui placeholder segment">
              <div class="ui header">Create a Collection</div>
              <form class="ui form" action="/<%= user._id %>/collections" method="POST">
                    <div class="field">
                        <label for="name">Name your collection</label>
                        <input type="text" name="collection[name]" placeholder="Pairs of socks">
                    </div>
                    <button class="ui left floated button" type="submit">Create Collection</button>
                </form>
            </div>
            <div class="ui placeholder segment">
              <div class="ui header">Create an Item</div>
                <form id="itemForm" class="ui form" action="" method="POST">
                    <div class="field">
                        <label for="item[name]">Name:</label>
                        <input type="text" name="item[name]" placeholder="The Mona Lisa">
                    </div>
                <div class="fields">
                    <div class="field">
                        <label for="item[purchaseDate]">When did you buy it?</label>
                        <input type="text" name="item[purchaseDate]" placeholder="about 10 months ago">
                    </div>
                    <div class="field">
                        <label for="item[serialNumber]">Add a serial number?</label>
                        <input type="text" name="item[serialNumber]" placeholder="a1b2c3d4">
                    </div>
                </div>
                <div class="fields">  
                    <div class="field">
                        <label for="selectiedCol">Which collection does it belong to?</label>
                        <select id="selectiedCol" name="selectiedCol" class="ui dropdown">
                            <optgroup>
                                <% user.collections.forEach(function(col){ %>
                                    <option value="<%= col._id %>"><%= col.name %></option>
                                <% }) %>
                            </optgroup>
                        </select>
                    </div>
                    <div class="radio fields">
                        <div class="field"><label for="item[stars]">Stars:</label></div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <label>5</label>
                                <input type="radio" name="item[stars]" value="5">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <label>4</label>
                                <input type="radio" name="item[stars]" value="4">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <label>3</label>
                                <input type="radio" name="item[stars]" value="3">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <label>2</label>
                                <input type="radio" name="item[stars]" value="2">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <label>1</label>
                                <input type="radio" name="item[stars]" value="1">
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="field">
                        <label for="item[description]">Add a description</label>
                        <textarea name="item[description]" placeholder="Pairs of socks"></textarea>
                    </div>
                    <button class="ui left floated button" type="submit">Create Item</button>
                </form>
            </div>
    </div>

    <!-- User profile update form -->
    <div id="profileSegment" class="ui bottom attached tab segment">
        <form class="ui form" action="">
            <div class="field">
                <label for="name">Change Name</label>
                <input type="text" name='name' value="<%= currentUser.name %>">
            </div>
            <div class="field">
                <label for="username">Change Username</label>
                <input type="text" name='username' value="<%= currentUser.username %>">
            </div>
            <!-- <div class="field">
                <label for="password">Change Password</label>
                <input type="password" name='password' value="<%= currentUser.password %>">
            </div> -->
            <button class="ui button" type="submit">Update</button>
        </form>
    </div>
</div>

<script>
    const form = document.querySelector('#itemForm');
    const selectedCol = document.querySelector('#selectiedCol');

    function setAction(){
        collectionID = selectedCol.value;
        form.setAttribute('action', `/<%= user._id %>/collections/${collectionID}/items`);
    }

    window.onload = setAction;
    document.querySelector('#selectiedCol').addEventListener('change', setAction)

</script>
<% include ../partials/footer %>